
@maxWidthMobile: 700px;
@import "helper.less";

html, body {
	margin: 0;
	padding: 0;
	font-family: Roboto;
	background: #f5f5f5;
}

.page {
	margin: 2em;
	.mobile({
		margin: 1em;
	});
}
.pageHeader {
	margin: 1em 0;
	h1 {
		display: inline-block;
		margin: 0;
	}
	* {
		vertical-align: bottom
	}
}

.topicList {
	.nonmobile({
		display:flex;
		flex-wrap: wrap;
		margin:-.5em;
	});
}
.topic.card {
	margin: 1em 0;
	.nonmobile({
		margin: .5em;
		flex: 1 1 0;
		min-width: 300px;
	})
}

.error {
    color: red;
}

.login.card {
    max-width: 800px;
    margin: 0 auto;
}
